.link {
  color: white;
  transition: 0.1s;
  border-radius: 5px;
  padding: 5px;

  &:hover {
    background-color: rgb(57, 57, 57);
  }
}
.active-link {
  border-bottom: 4px solid rgb(197, 174, 23);
  color: white;
  border-radius: 5px 5px 0 0;
  padding: 5px;

  &:hover {
    background-color: rgb(57, 57, 57);
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 6vh;
  background-color: rgb(37, 37, 37);
  position: relative;

  &-menu__button {
    display: none;
    position: relative;
    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-bottom: 6px;
    z-index: 10;

    &.open {
      span {
        display: none;
      }
      &::after {
        content: '';
        transform: skewY(45deg);
      }
      &::before {
        content: '';
        transform: skewY(-45deg);
        top: 5px;
      }
    }

    &::after {
      content: '';
      position: absolute;
      left: 0px;
      top: 5px;
      width: 20px;
      height: 2px;
      background-color: white;
    }
    &::before {
      content: '';
      position: absolute;
      left: 0px;
      bottom: -3px;
      width: 20px;
      height: 2px;
      background-color: white;
    }
    span {
      display: inline-block;
      width: 20px;
      height: 2px;
      background-color: white;
    }
  }

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    font-size: 20px;

    & select {
      background-color: rgb(37, 37, 37);
      color: white;
      outline: none;
      border: none;
      padding: 5px;
      border-radius: 5px;
      transition: 0.3s;
      font-size: 16px;

      &:hover {
        background-color: rgb(57, 57, 57);
      }
      &:focus {
        border: 1px solid white;
      }
    }
  }
}

@media (max-width: 480px) {
  .header .link {
    display: none;
  }
  .header .active-link {
    display: none;
  }
  .header-menu__button {
    display: block;
  }
}
