.link {
  color: white;
  transition: 0.1s;
  border-radius: 5px;
  padding: 5px;

  &:hover {
    background-color: rgb(57, 57, 57);
  }
}
.active-link {
  border-bottom: 4px solid rgb(197, 174, 23);
  color: white;
  border-radius: 5px 5px 0 0;
  padding: 5px;

  &:hover {
    background-color: rgb(57, 57, 57);
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 6vh;
  background-color: rgb(37, 37, 37);

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    font-size: 20px;

    & select {
      background-color: rgb(37, 37, 37);
      color: white;
      outline: none;
      border: none;
      padding: 5px;
      border-radius: 5px;
      transition: 0.3s;
      font-size: 16px;

      &:hover {
        background-color: rgb(57, 57, 57);
      }
      &:focus {
        border: 1px solid white;
      }
    }
  }
}
