.container-menu {
  display: none;
  color: white;
  position: fixed;
  z-index: 5;
  font-size: 20px;
  background-color: transparent;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);

  ul {
    position: absolute;
    top: 50px;
    z-index: 6;
    display: flex;
    flex-direction: column;
    background-color: rgb(37, 37, 37);
    width: 150px;
    li {
      margin: 10px 0;
    }
  }

  &.active {
    display: block;
  }
}

.menu-link {
  display: inline-block;
  color: white;
  transition: 0.1s;
  border-radius: 5px;
  padding: 5px;

  &:hover {
    background-color: rgb(57, 57, 57);
  }
}
.menu-active-link {
  display: inline-block;
  border-bottom: 4px solid rgb(197, 174, 23);
  color: white;
  border-radius: 5px 5px 0 0;
  padding: 5px;

  &:hover {
    background-color: rgb(57, 57, 57);
  }
}
