.container-search {
  position: absolute;
  max-width: 600px;
  max-height: 600px;
  width: 90%;
  left: 50%;
  transform: translate(-50%);
  margin: 15px 5px;
  z-index: 5;
  background-color: white;
  overflow: scroll;

  &-card {
    max-height: 150px;
    overflow: hidden;
    display: flex;
    margin: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.75);
    overflow: hidden;

    &-img {
      font-size: 0px;
      img {
        max-width: 100px;
      }
    }

    &-description {
      padding: 10px;
      &__overview {
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }
}
