.movie-container {
  min-height: 95vh;
  background-size: cover;
  background-repeat: no-repeat;
  &-background {
    background-color: rgba(0, 0, 0, 0.25);
    background-size: cover;
    height: 100vh;
  }

  &-inner {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 5px;

    h1 {
      padding-top: 20px;
      color: white;
      font-size: 32px;
      font-weight: 400;
    }

    p {
      padding-top: 10px;
      color: white;
      font-size: 16px;
    }

    &__genres {
      span {
        font-size: 20px;
        font-weight: 400px;
        border: 1px solid grey;
        padding: 5px;
        margin: 5px;
        border-radius: 20px;
        display: inline-block;
      }
    }

    &-media {
      padding-top: 10px;
      display: flex;
      gap: 10px;
      margin: 0 5px;

      img {
        max-width: 300px;
      }
    }

    &__warning {
      margin: 5px auto;
      text-align: center;
      font-size: 16px;
      color: red;
    }
  }
}

@media (max-width: 1024px) {
  .movie-container {
    background-position: left calc((50vw - 170px) - 340px) top;
  }
}

@media (max-width: 768px) {
  .movie-container-inner-media {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .movie-container {
    background-position: center center;
  }
}
