.upcoming-container {
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  &__button {
    background-color: gold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 0 15px 15px 0;

    &.-next {
      padding: 10px 32px;
    }
  }

  &__loader {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
